body {
  font-family: 'Noto Sans', sans-serif;
	margin:0;
  background: url(../images/sky_02.jpg) no-repeat;
  background-size: 100% 100%;
}

.clearfix {
  overflow: auto;
}

#container {
    position: relative;
    width: 100%;
}

#section1 { 
	height: 100%;
}

header {
	background-color: black;
	height: 60px;
	width: 100%;
	line-height: 70px;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:3px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:11px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu {
	z-index:1000000; 
	font-weight:bold; 
	font-size:0.95em; 
	width:100%; 
	background:#131313;  
	position:absolute; text-align:left;
	padding-left: 15%;
	padding-top: 2.5%;
	padding-bottom: 3%;
	border-top: solid 3px #154180;
}

.menu ul {
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	list-style-image: none;
}

.menu li {
	display: block;   
	padding:15px 0 15px 0; 
}

.menu li:hover {
	display: block;    
	background:#181818; 
	padding:15px 0 15px 0; 
}

.menu ul li a { 
	text-decoration:none;  
	margin: 0px; 
	color:#fff;}

.menu ul li a:hover {  
	color: #fff; 
	text-decoration:none;
}

.menu a {
	text-decoration:none; 
	color:white;}

.menu a:hover {
	text-decoration:none; 
	color:white;}

#video {
	height: auto;
	border-bottom: solid 3px #154180;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	border: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#mainpic {
	display: flex;
    align-items: center;
	height: 550px;
	width: 100%;
}

#globe {
	display: inline-block; 
    height: auto; 
    width: auto; 
    max-width: 100%; 
    max-height: 550px;  
    padding-top: 10px;
    margin: auto;
}

h1 {
	font-family: 'rockwell';
	color: white;
	text-shadow: 1px 1px black;
	font-size: 32px;
}

h2 {
	font-family: 'rockwell';
	color: white;
	text-shadow: 1px 1px black;
	font-size: 24px;
}

#galleryHead {
	height: 110px;
	background-color: white;
	overflow: hidden;
}

#intro1 {
	width: 65%;
	margin-left: 17.5%;
	text-align: center;
	display: inline-block;
}

#button1 {
	display: block;
	padding: 15px;
	border-radius: 45px
	font-size: 20px;
	color: white;
	width: 180px;
	border: none;
	background-color: #FCD835;
	margin: 0 auto;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
}

#entryForm {
  display: none;
  width: 65%;
  margin-left: 17.5%;
}  

#contact-form {
    width: 100%;
    padding: 5px;
    display: block;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  margin: 5px;
  border: 1px solid #ACADAD;
  border-radius: 2px;
  display: block;
  width: 50%;
}

label {
  font-family: Arial;
  font-size: 15px;
}

#submit-button {
	display: block;
	padding: 15px;
	border-radius: 45px
	font-size: 20px;
	color: white;
	width: 180px;
	border: none;
	background-color: #FCD835;
	margin: 0 auto;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
}

#firstname {
  width: 100%;
  float: left;
  display: inline-block;
  clear: both;
}

#lastname {
  width: 100%;
  clear: both;
}

#email {
  width: 100%;
  display: block;
  clear: both;
}

#upload {
  display: inline-block;
  margin-left: 10px;
  border: 0;
}

p.photo {
  font-family: Arial;
  margin-left: 10px;
  display: inline-block;
  color: white;
}

#photo {
  border: 0;
  display: inline-block;
}

.entries1 {
	text-align: center;
	font-family: 'rockwell';
	color: #275ca0;
	font-size: 36px;
	padding-top: 37px;
}

.entries2 {
	text-align: center;
	font-family: 'rockwell';
	color: #275ca0;
	font-size: 36px;
	padding-bottom: 33px;
}

#gallery1 {
	width: 100%;
	background-color: white;
}

#gallery2 {
	width: 100%;
	background-color: white;
}

#button3 {
		display: block;
	padding: 15px;
	border-radius: 45px
	font-size: 20px;
	color: white;
	width: 180px;
	border: none;
	background-color: #FCD835;
	margin: 0 auto;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
}

#bottombutton {
	height: 100px;
	padding-top: 40px;
}

footer {
	background-color: black;
	height: 100px;
	width: 100%;
}

.image-zoom-container {
	list-style: none;
	font-size: 0px;
}

.zoom-container {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 33.33%;
	font-size: 16px;
	font-size: 1rem;
	border: 1px solid #fff;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.zoom-container img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
}

.zoom-container .zoom-caption {
	position: absolute;
	top: 0%;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: rgba(0, 0, 0, 0);
	-webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
}
.zoom-container .zoom-caption h3 {
	display: block;
	text-align: center;
	font-family: 'Rockwell';
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	margin: 53% 0 0;
	padding: 10px 0;
	border-top: 5px solid rgba(255, 255, 255, .15);
	border-bottom: 5px solid rgba(255, 255, 255, .15);
}
.zoom-container:hover img {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
        -moz-transform:scale(1.25); /* Firefox */
        -ms-transform:scale(1.25); /* IE 9 */
        -o-transform:scale(1.25); /* Opera */
         transform:scale(1.25);
}
.zoom-container:hover .zoom-caption {
	background: none;
}
 
@media (max-width: 767px) {
	.zoom-container {
		width: 50%;
	}
}
 
@media (max-width: 480px) {
	.zoom-container {
		width: 100%;
	}
}



