body {
  font-family: 'Noto Sans', sans-serif;
	margin:0;
  background: url(../images/sky_02.jpg) no-repeat;
  background-size: 100% 100%;
}

.clearfix {
  overflow: auto;
}

#container {
    position: relative;
    width: 100%;
}

#section1 { 
	height: 100%;
}

header {
	background-color: black;
	height: 60px;
	width: 100%;
	line-height: 70px;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:3px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:11px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu {
	z-index:1000000; 
	font-weight:bold; 
	font-size:0.95em; 
	width:100%; 
	background:#131313;  
	position:absolute; text-align:left;
	padding-left: 15%;
	padding-top: 2.5%;
	padding-bottom: 3%;
	border-top: solid 3px #154180;
}

.menu ul {
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	list-style-image: none;
}

.menu li {
	display: block;   
	padding:15px 0 15px 0; 
}

.menu li:hover {
	display: block;    
	background:#181818; 
	padding:15px 0 15px 0; 
}

.menu ul li a { 
	text-decoration:none;  
	margin: 0px; 
	color:#fff;}

.menu ul li a:hover {  
	color: #fff; 
	text-decoration:none;
}

.menu a {
	text-decoration:none; 
	color:white;}

.menu a:hover {
	text-decoration:none; 
	color:white;}

#video {
	height: 200px;
	border: solid 10px;
}

#mainpic {
	display: flex;
    align-items: center;
	height: 550px;
	width: 100%;
}

#globe {
	display: inline-block; 
    height: auto; 
    width: auto; 
    max-width: 100%; 
    max-height: 550px;  
    padding-top: 10px;
    margin: auto;
}

h1 {
	font-family: 'rockwell';
	color: white;
	text-shadow: 1px 1px black;
	font-size: 32px;
}

h2 {
	font-family: 'rockwell';
	color: white;
	text-shadow: 1px 1px black;
	font-size: 24px;
}

#intro1 {
	width: 65%;
	margin-left: 17.5%;
	text-align: center;
	display: inline-block;
}

#button1 {
	display: block;
	padding: 15px;
	border-radius: 45px
	font-size: 20px;
	color: white;
	width: 180px;
	border: none;
	background-color: #FCD835;
	margin: 0 auto;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
}

#entryForm {
  display: none;
  width: 65%;
  margin-left: 17.5%;
}  

#contact-form {
    width: 100%;
    padding: 5px;
    display: block;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  margin: 5px;
  border: 1px solid #ACADAD;
  border-radius: 2px;
  display: block;
  width: 50%;
}

label {
  font-family: Arial;
  font-size: 15px;
}

#submit-button {
	display: block;
	padding: 15px;
	border-radius: 45px
	font-size: 20px;
	color: white;
	width: 180px;
	border: none;
	background-color: #FCD835;
	margin: 0 auto;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
}

#firstname {
  width: 100%;
  float: left;
  display: inline-block;
  clear: both;
}

#lastname {
  width: 100%;
  clear: both;
}

#email {
  width: 100%;
  display: block;
  clear: both;
}

#upload {
  display: inline-block;
  margin-left: 10px;
  border: 0;
}

p.photo {
  font-family: Arial;
  margin-left: 10px;
  display: inline-block;
  color: white;
}

#photo {
  border: 0;
  display: inline-block;
}

.entries {
	text-align: center;
	font-family: 'rockwell';
	color: white;
	text-shadow: 1px 1px black;
	font-size: 32px;
}

#gallery {
	width: 100%;
	height: 200px;
	border: solid 1px;
}

#button3 {
		display: block;
	padding: 15px;
	border-radius: 45px
	font-size: 20px;
	color: white;
	width: 180px;
	border: none;
	background-color: #FCD835;
	margin: 0 auto;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
}

#pics {
	margin-bottom: 30px;
	border: solid 1px;
}


footer {
	background-color: black;
	height: 80px;
	width: 100%;
}




